body {
    background-color: #ccc;
    font-family: Georgia, serif;
    font-size: 14pt;
    line-height: 140%;
    background-image: -webkit-linear-gradient(top, #AAF, #DDF 1000px);
}

#contentwrap {
  margin: auto;
  width: 600px;
  background-color: #fff;
  padding: 2em;
  box-shadow: 10px 10px 30px #888;
}

p { 
  gbackground-color: red;
}
p + p {
  margin-top: 1.5em;
}
pre.prettyprint li {
    white-space: pre;
}
.webgl_example {
    max-width: 400px;
    width: 100%;
    height: 300px;
 }

@media only screen and (max-width : 710px) {
    #contentwrap {
        padding: 0.0em;
        box-shadow: none;
        width: 100%;
    }
    body {
        background-image: none;
        background-color: white;
        font-size: 12pt;
    }
    pre.prettyprint {
        width: 100%;
        margin: 3.5em;
        overflow-x: scroll;
    }
}

