.lesson-title {
    margin-top: 3em;
    margin-bottom: 2em;
}
.lesson-main {
  gbackground-color: #ffe;
}
.lesson-sidebar {
  font-size: small;
  gbackground-color: #eff;
}
.lesson-sidebar>ul>li {
    line-height: 1.3em;
}
.lesson-sidebar ul {
    line-height: 1.3em;
    margin-bottom: 1em;
}
.lesson-sidebar ul {
    list-style-type: none;
    padding-left: 0em;
}
.container {
    gbackground-color: green;
}
h1, h2, h3, h4 {
  font-family: sans-serif;
}
h3 {
  font-size: medium;
}
code {
    color: black;
    font-family: monospace;
}

.webgl_table_div_center {
  text-align: center;
}

.webgl_table_center {
  margin-left: auto;
  margin-right: auto;
}

.webgl_center {
  margin-left: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: auto;
  display: block;
  text-align: center;
}

.webgl_math {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: left;
}

.webgl_math_center {
  display: block;
  text-align: center;
}

.hcenter {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

table.vertex_table {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: monospace;
  font-size: small;
}

table.vertex_table th {
  background-color: #88ccff;
  padding-right: 1em;
  padding-left: 1em;
}

table.vertex_table td {
  border: 1px solid black;
  text-align: right;
  padding-right: 1em;
  padding-left: 1em;
}

iframe.webgl_example {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

iframe.external_diagram {
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.webgl_bottombar {
  border: 1px solid #000;
  background-color: #def;
  width: 95%;
  padding: 1em;
  margin: 0.5em;
}
div.webgl_bottombar>h3 {
  gbackground-color: red;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 1em;
}
div.webgl_bottombar code {
    background-color: #ccc;
}
code {
    background-color: #eee;
}

/* --- Prettify --- */
pre.prettyprint .nocode { background-color: none; color: #000 }
pre.prettyprint .str { color: #080 } /* string          */
pre.prettyprint .kwd { color: #008 } /* keyword         */
pre.prettyprint .com { color: #800 } /* comment         */
pre.prettyprint .typ { color: #606 } /* type            */
pre.prettyprint .lit { color: #066 } /* literal         */
pre.prettyprint .pun { color: #660 } /* punctuation     */
pre.prettyprint .pln { color: #000 } /* plaintext       */
pre.prettyprint .tag { color: #008 } /* html/xml tag    */
pre.prettyprint .atn { color: #606 } /* attribute name  */
pre.prettyprint .atv { color: #080 } /* attribute value */
pre.prettyprint .dec { color: #606 } /* decimal         */
pre.prettyprint .var { color: #606 } /* variable name   */
pre.prettyprint .fun { color: #F00 } /* function name   */

pre.prettyprint ul.modifiedlines {
    list-style-type: none;
    padding-left: 0;
}
pre.prettyprint ul.modifiedlines li.linemodified {
    list-style-type: none;
    background-color: #A1EAF6;
}
pre.prettyprint ul.modifiedlines li.linedeleted {
    list-style-type: none;
    background-color: #F0B9B9;
    text-decoration: line-through;
}

pre.prettyprint ul.modifiedlines li.lineadded {
    list-style-type: none;
    background-color: #A2EDC9;
}


pre.prettyprint, code.prettyprint {
    color: #000;
    background: #eee;
    border: 1px solid #000;
    box-shadow: 3px 3px 10px #ccc;
    font-size: 8pt;
    font-family: "Lucida Console", Monaco, monospace;
    width: 95%;
    margin: auto;
    padding: 1em;
    text-align: left;           /* override justify on body */
    goverflow: auto;             /* allow scroll bar in case of long lines - goes together with white-space: nowrap! */
    white-space: pre;        /* was nowrap, prevent line wrapping */
    line-height: 10pt;
}
@media print{
    pre.prettyprint .str, code.prettyprint .str{color:#060}
    pre.prettyprint .kwd, code.prettyprint .kwd{color:#006;font-weight:bold}
    pre.prettyprint .com, code.prettyprint .com{color:#600;font-style:italic}
    pre.prettyprint .typ, code.prettyprint .typ{color:#404;font-weight:bold}
    pre.prettyprint .lit, code.prettyprint .lit{color:#044}
    pre.prettyprint .pun, code.prettyprint .pun{color:#440}
    pre.prettyprint .pln, code.prettyprint .pln{color:#000}
    pre.prettyprint .tag, code.prettyprint .tag{color:#006;font-weight:bold}
    pre.prettyprint .atn, code.prettyprint .atn{color:#404}
    pre.prettyprint .atv, code.prettyprint .atv{color:#060}
pre.prettyprint, code.prettyprint {
    color: #000;
    background: #EEE;
    font-size: 8pt;
    font-family: "Lucida Console", Monaco, monospace;
    width: 95%;
    margin: auto;
    padding: 6px 3px 13px 3px;  /* padding-bottom solves hor. scrollbar hiding single line of code in IE6 but causes vert. scrollbar... */
    text-align: left;           /* override justify on body */
    goverflow: auto;             /* allow scroll bar in case of long lines - goes together with white-space: nowrap! */
    white-space: pre;        /* was nowrap, prevent line wrapping */
    line-height: 10pt;
}
}

