.glocal-center {
  text-align: center;
}

.glocal-center-content {
  margin-left: auto;
  margin-right: auto;
}

.glocal-mat td, .glocal-b {
  border: 1px solid black;
  text-align: left;
}

.glocal-mat td {
  text-align: center;
}

.glocal-border {
  border: 1px solid black;
}

.glocal-sp {
  text-align: right !important;
  width: 8em;
}

.glocal-blk {
  color: black;
  background-color: black;
}

.glocal-left {
  text-align: left;
}

.glocal-right {
  text-align: right;
}

@media (max-width: 720px) {
  .wide {
    font-size: small;
  }
  .glocal-center-content {
    font-size: x-small;
  }
}
