@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 400;
  src: url(resources/fonts/NotoSansKR-400.woff2) format('woff2'),
       url(resources/fonts/NotoSansKR-400.woff) format('woff'),
       url(resources/fonts/NotoSansKR-400.otf) format('opentype'),
       url(resources/fonts/NotoSansKR-400.eot?#iefix) format('embedded-opentype');
}

@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 700;
  src: url(resources/fonts/NotoSansKR-700.woff2) format('woff2'),
       url(resources/fonts/NotoSansKR-700.woff) format('woff'),
       url(resources/fonts/NotoSansKR-700.otf) format('opentype'),
       url(resources/fonts/NotoSansKR-700.eot?#iefix) format('embedded-opentype');
}

:root {
  --article-font-family: Apple SD Gothic Neo, NotoSansKR, sans-serif;
  --headline-font-family: Apple SD Gothic Neo, NotoSansKR, sans-serif;
}
