<iframe class="webgl_example" style="width: %(width)spx; height: %(height)spx;" src="%(url)s"></iframe>
<a class="webgl_center" href="%(url)s" target="_blank">click here to open in a separate window</a>

