body {
    background-color: #ccc;
    font-family: Georgia, serif;
    font-size: 14pt;
    line-height: 140%;
    background-image: -webkit-linear-gradient(top, #AAF, #DDF 1000px);
}
#contentwrap {
  margin: auto;
  width: 600px;
  background-color: white;
  padding: 2em;
  box-shadow: 10px 10px 30px #888;
}
p { 
  gbackground-color: red;
}
p + p {
  margin-top: 1.5em;
}

