
.webgl_center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

iframe.webgl_example {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.webgl_bottombar {
  border: 1px solid #000;
  background-color: #eef;
  width: 95%;
  padding: 0.5em;
  margin: 0.5em;
}

/* --- Prettify --- */
pre.prettyprint .str, code.prettyprint .str{color:#FFF}
pre.prettyprint .kwd, code.prettyprint .kwd{color:#F0F}
pre.prettyprint .com, code.prettyprint .com{color:#FF0}
pre.prettyprint .typ, code.prettyprint .typ{color:#0F0}
pre.prettyprint .lit, code.prettyprint .lit{color:#0FF}
pre.prettyprint .pun, code.prettyprint .pun{color:#CCC}
pre.prettyprint .pln, code.prettyprint .pln{color:#888}
pre.prettyprint .tag, code.prettyprint .tag{color:#88F}
pre.prettyprint .atn, code.prettyprint .atn{color:#C0C}
pre.prettyprint .atv, code.prettyprint .atv{color:#0C0}
pre.prettyprint .dec, code.prettyprint .dec{color:#C0C}
pre.prettyprint, code.prettyprint {
    color: #c0c0c0;
    background: #000080;
    border: 1px solid #000;
    font-size: 8pt;
    font-family: "Lucida Console", Monaco, monospace;
    width: 95%;
    margin: auto;
    padding: 6px 3px 13px 3px;  /* padding-bottom solves hor. scrollbar hiding single line of code in IE6 but causes vert. scrollbar... */
    text-align: left;           /* override justify on body */
    goverflow: auto;             /* allow scroll bar in case of long lines - goes together with white-space: nowrap! */
    white-space: pre;        /* was nowrap, prevent line wrapping */
    line-height: 10pt;
}
@media print{
    pre.prettyprint .str, code.prettyprint .str{color:#060}
    pre.prettyprint .kwd, code.prettyprint .kwd{color:#006;font-weight:bold}
    pre.prettyprint .com, code.prettyprint .com{color:#600;font-style:italic}
    pre.prettyprint .typ, code.prettyprint .typ{color:#404;font-weight:bold}
    pre.prettyprint .lit, code.prettyprint .lit{color:#044}
    pre.prettyprint .pun, code.prettyprint .pun{color:#440}
    pre.prettyprint .pln, code.prettyprint .pln{color:#000}
    pre.prettyprint .tag, code.prettyprint .tag{color:#006;font-weight:bold}
    pre.prettyprint .atn, code.prettyprint .atn{color:#404}
    pre.prettyprint .atv, code.prettyprint .atv{color:#060}
pre.prettyprint, code.prettyprint {
    color: #000;
    background: #EEE;
    font-size: 8pt;
    font-family: "Lucida Console", Monaco, monospace;
    width: 95%;
    margin: auto;
    padding: 6px 3px 13px 3px;  /* padding-bottom solves hor. scrollbar hiding single line of code in IE6 but causes vert. scrollbar... */
    text-align: left;           /* override justify on body */
    goverflow: auto;             /* allow scroll bar in case of long lines - goes together with white-space: nowrap! */
    white-space: pre;        /* was nowrap, prevent line wrapping */
    line-height: 10pt;
}
}

